/* @NOTE: WORK IN PROGRESS */

table.InputfieldImageMarkers {width: 100%;}
.InputfieldImageMarkers table tr {border: none;}
.InputfieldImageMarkers th {padding-bottom: 0; font-weight: bold;}
.InputfieldImageMarkers tr:not(.ImageMarkerTBD):hover td {background: #eee;}

.InputfieldImageMarkers input[type=number],
.InputfieldImageMarkers input[type=number],
.InputfieldImageMarkers input[type=text] {
	width: 100%;
}

.InputfieldImageMarkers th,
.InputfieldImageMarkers td {
	padding: 6px 2px;
	border-bottom: 1px solid #ddd;
}

.InputfieldImageMarkers .ImageMarkerInfo {width: 45%;}
.InputfieldImageMarkers .ImageMarkerCoords_X {width: 25%; text-align: right;}
.InputfieldImageMarkers .ImageMarkerCoords_Y {width: 25%; text-align: right;}
.InputfieldImageMarkers th.ImageMarkerDel {width: 5%; padding-right: 0;}
.InputfieldImageMarkers a.ImageMarkerDel {width: 1.5em; display: block;}
.InputfieldImageMarkers .ImageMarkerTBD td input {text-decoration: line-through;}
tr a.ImageMarkerDel {padding-left: 15px;}
tr.highlighted {background: #D1F468;}
tr.highlighted:hover td {background: #93BF0D !important;}

input[type=text].coords_x, input[type=text].coords_y {text-align: right;}

/* -- MARKER STYLES -- */

/* @hc (circle+teardrop), @tpr(callout), @kongondo (minor mods)*/

/* shared styles */
div.fieldContainer {
	position: relative;
	display: inline-block;
	border: 2px solid #ccc;
}

div.fieldContainer img {
	vertical-align: bottom;
	width: 100%;
	height: auto;
}

div.marker span {
	transform: translate(-50%, -50%);
	position: absolute;
	font-size: 12px;
	font-weight: bold;
	color: #FFF;
	text-align: center;
	cursor: move;
	display: block;
	z-index: 3;
}

/* marker style: circular */
div.circle {
	position: absolute;
	width: 1px;
	height: 1px;
	background: red;
	z-index: 2;
	cursor: pointer;
}

div.circle::before {
	content: '';
	position: absolute;
	z-index: 2;
	background: red;
	width: 1.5em;
	height: 1.5em;
	border-radius: 20px;
	transform: translate(-50%, -50%);
	border: 1px solid rgba(255,255,255,.5);
	box-sizing: border-box;
	/*kongondo testing*/
	width: 2em;
	height: 2em;
}

div.circle.highlighted::before {
	background: green;
}

div.circle span {
	top: 0px;
	left: 0px;
	transform: translate(-50%, -50%);
}

/* marker style: tear drop (gmap) style */
div.teardrop {
	position: absolute;
	width: 1px;
	height: 1px;
	background: red;
	z-index: 2;
	cursor: pointer;
}

div.teardrop::before {
	content: '';
	position: absolute;
	z-index: 2;
	background: red;
	width: 1.5em;
	height: 1.5em;
	border-radius: 20px 20px 20px 0;
	transform: rotate(-45deg) translate(14px, -35px);
	border: 1px solid rgba(255,255,255,.5);
	box-sizing: border-box;
	/*kongondo testing*/
	width: 2em;
	height: 2em;
}

div.teardrop.highlighted::before {
	background: green;
}

div.teardrop span {
	top: 0px;
	left: 0px;
	transform: translate(-50%, -31px);
}

/* marker style: callout */
div.callout {
	position: absolute;
	width: 1px;
	height: 1px;
	z-index: 2;
	cursor: pointer;
}

div.callout span {
	background: red;
	line-height: 1.33;
	max-width: 6em;
	position: absolute;
	font-weight: bold;
	transform: translate3d(-49%, -100%, 0);
	margin-top: -0.5em;
	z-index: 2;
	border: 1px solid rgba(255,255,255,.5);
	max-width: none;
	white-space: nowrap;
	padding: 0.25em 0.35em;
	height: 2em;
}

div.callout.highlighted span {
	background: green;
}

div.callout.highlighted::after {
	border-top-color: green;
}


div.callout:after {
	content: "";
	border: 0.5em solid transparent;
	border-top-color: red;
	position: absolute;
	top: 100%;
	left: 50%;
	transform: translate(-50%, -50%);
}

div.callout:before {
	border-top-color: #FFF;
	margin-top: 2px;
}

/* ALL marker styles: highlighted markers */
div.fieldContainer div.highlighted {
	z-index: 4;
}
