/* @NOTE: WORK IN PROGRESS */

table.InputfieldImageMarkers {width: 100%;}
.InputfieldImageMarkers table tr {border: none;}
.InputfieldImageMarkers th {padding-bottom: 0; font-weight: bold;}
.InputfieldImageMarkers tr:not(.ImageMarkerTBD):hover td {background: #eee;}

.InputfieldImageMarkers input[type=number],
.InputfieldImageMarkers input[type=number],
.InputfieldImageMarkers input[type=text] {
	width: 100%; 
}

.InputfieldImageMarkers th,
.InputfieldImageMarkers td {
	padding: 6px 2px;
	border-bottom: 1px solid #ddd;
}

.InputfieldImageMarkers .ImageMarkerInfo {width: 45%;}
.InputfieldImageMarkers .ImageMarkerCoords_X {width: 25%; text-align: right;}
.InputfieldImageMarkers .ImageMarkerCoords_Y {width: 25%; text-align: right;}
.InputfieldImageMarkers th.ImageMarkerDel {width: 5%; padding-right: 0;}
.InputfieldImageMarkers a.ImageMarkerDel {width: 1.5em; display: block;}
.InputfieldImageMarkers .ImageMarkerTBD td input {text-decoration: line-through;}
tr a.ImageMarkerDel {padding-left: 15px;}
tr.highlighted {background: #D1F468;}
tr.highlighted:hover td {background: #93BF0D !important;}

input[type=text].coords_x, input[type=text].coords_y {text-align: right;}

/* -- MARKER STYLES -- */

/* @hc (circle+teardrop), @tpr(callout), @kongondo (minor mods)*/

/* shared styles */
div.fieldContainer {
	position: relative;
	display: inline-block;
	border: 2px solid #ccc;
}

div.fieldContainer img {
	vertical-align: bottom;
	width: 100%;
	height: auto;
}

div.marker span {
	position: absolute;
	font-size: 1.25em;
	font-weight: bold;
	color: #FFF;
	text-align: center;
	cursor: move;
	display: block;
	z-index: 3;
}

/* marker style: circular */
div.fieldContainer div.circle {
	position: absolute;
	top: 50%;
	left: 50%;
	cursor: move;
}

div.fieldContainer div.circle span {
	left: -10px;
	top: -10px;
	box-sizing: border-box;
	width: 2em;
	height: 2em;
	border-radius: 100%;
	background-color: red;
	border: 2px solid #FFF;
	line-height: 1em;
	padding: 0.5em 0;
}

/* marker style: tear drop (gmap) style */
div.teardrop {
	position: absolute;
	width: 1px;
	height: 1px;
	background: red;
	z-index: 2;
	cursor: pointer;
}

div.teardrop::before {
	content: '';
	position: absolute;
	z-index: 2;
	background: red;
	width: 1.563em;
	height: 1.563em;
	border-radius: 20px 20px 20px 0;
	transform: rotate(-45deg) translate(12px, -29px);
	border: 1px solid rgba(255,255,255,.5);
	box-sizing: border-box;	
	/*kongondo testing*/
	width: 2em;
	height: 2em;
}

div.teardrop.active::before {background: green;}

div.teardrop span {
	top: 0px;
	left: 0px;
	transform: translate(-50%, -23px);
}

/* marker style: callout */
div.callout {
	background: red;
	line-height: 1.33;
	max-width: 6em;
	text-align: center;
	color: #fff;
	position: absolute;
	padding: 0.25em 0.75em;
	display: inline-block;
	font-weight: bold;
	font-size: 1em;
	transform: translate3d(-50%, -100%, 0);
	margin-top: -0.5em;
	z-index: 2;
	border: 2px solid #fff;
}

div.callout:before,
div.callout:after {
	content: "";
	border: 0.5em solid transparent;
	border-top-color: red;
	position: absolute;
	top: 100%;
	left: 50%;
  transform: translateX(-50%);
}

div.callout:before {border-top-color: #FFF; margin-top: 2px;}

/* ALL marker styles: highlighted markers */
div.fieldContainer div.highlighted span{
	border: 2px solid #0A0A0A;
	background-color: #D1F468;
	color: #000;
}